---
import Container from "./Container.astro";
import Layout from "./Layout.astro";
import { Image } from "astro:assets";
import background from "../../public/background.png";
---

<Layout>
	<Image
		class="-z-50 fixed w-screen h-screen object-cover"
		loading="eager"
		src={background}
		alt=""
	/>
	<Container transition:name="main" transition:animate="slide">
		<div class="text-sky-50">
			<slot />
		</div>
	</Container>
</Layout>
