---
import BasePage from "../layouts/BasePage.astro";
import Button from "../components/Button";
import { getUser, login } from "../util/serverRequests.js";

if (!Astro.cookies.has("authorization")) {
	return Astro.redirect("/login");
}

const userInfo = await getUser(
	Astro.cookies.get("authorization")?.json().accessToken,
);

if (!userInfo) {
	return Astro.redirect("/login");
}

const user = userInfo.name;
---

<BasePage>
	<h1 class="text-3xl font-black drop-shadow-lg">Hello {user} !</h1>
	<Button href="/inventory">Inventory</Button>
	<Button href="/gacha" variant="golden">Gacha</Button>
	<Button href="/logout">Se Déconnecter</Button>
</BasePage>
