---
import Button from "../../components/Button.astro";
import Card, { Rarity } from "../../components/Card";
import BasePage from "../../layouts/BasePage.astro";

const cards = [
	{
		name: "Ichika",
		artwork:
			"https://static.wikitide.net/projectsekaiwiki/1/17/Charsel-ichika.png",
		rarity: Rarity.SUPER_RARE,
	},
	{
		name: "Saki",
		artwork:
			"https://static.wikitide.net/projectsekaiwiki/9/9e/Charsel-saki.png",
		rarity: Rarity.SUPER_RARE,
	},
	{
		name: "Shiho",
		artwork:
			"https://static.wikitide.net/projectsekaiwiki/7/79/Charsel-shiho.png",
		rarity: Rarity.SUPER_RARE,
	},
	{
		name: "Honami",
		artwork:
			"https://static.wikitide.net/projectsekaiwiki/1/19/Charsel-honami.png",
		rarity: Rarity.SUPER_RARE,
	},
];
---

<BasePage>
	<Button href="/">Return to monke</Button>
	<h1 class="font-black text-4xl mb-4 drop-shadow-lg">Inventaire</h1>
	<div class="flex flex-wrap w-full gap-2">
		{
			cards.map((card) => (
				<Card
					client:visible
					name={card.name}
					artwork={card.artwork}
					rarity={card.rarity}
				/>
			))
		}
	</div>
</BasePage>
