---
import Button from "../../components/Button";
import Card, { Rarity } from "../../components/Card";
import BasePage from "../../layouts/BasePage.astro";
import { getInventory } from "../../util/serverRequests";

if (!Astro.cookies.has("authorization")) {
	return Astro.redirect("/login");
}

const cards = [
	{
		name: "Ichika",
		image:
			"https://static.wikitide.net/projectsekaiwiki/1/17/Charsel-ichika.png",
		rarity: Rarity.SUPER_RARE,
	},
	{
		name: "Saki",
		image: "https://static.wikitide.net/projectsekaiwiki/9/9e/Charsel-saki.png",
		rarity: Rarity.SUPER_RARE,
	},
	{
		name: "Shiho",
		image:
			"https://static.wikitide.net/projectsekaiwiki/7/79/Charsel-shiho.png",
		rarity: Rarity.SUPER_RARE,
	},
	{
		name: "Honami",
		image:
			"https://static.wikitide.net/projectsekaiwiki/1/19/Charsel-honami.png",
		rarity: Rarity.SUPER_RARE,
	},
];

const fetched_cards = await getInventory(
	Astro.cookies.get("authorization")?.json().accessToken,
);
console.log(fetched_cards);
---

<BasePage>
	<Button href="/">Return to monke</Button>
	<h1 class="font-black text-4xl mb-4 drop-shadow-lg">Inventaire</h1>
	<div class="flex flex-wrap w-full gap-2">
		{
			cards.map((card) => (
				<Card
					client:visible
					name={card.name}
					artwork={card.image}
					rarity={card.rarity}
				/>
			))
		}
	</div>
</BasePage>
