---
const { href } = Astro.props;
---

<a
	href={href}
	class="inline-block bg-gradient-to-r from-blue-300 to-fuchsia-300 text-cyan-950 hover:from-teal-700 hover:to-sky-800 hover:text-amber-50 transition-colors rounded-2xl w-fit self-center p-3 border border-emerald-700/30 hover:border-b-blue-300/70 cursor-pointer"
>
	<slot />
</a>
